# Python 에서 MySQL 사용하기

In [1]:
import json
import pymysql

In [2]:
with open('mysql.json', 'r') as file:
    config_str = file.read()
config_str

'{\n    "host": "localhost",\n    "user": "hkuser",\n    "password": "hkpass",\n    "database": "world",\n    "port": 3306\n}'

In [3]:
# json parsing
config = json.loads(config_str)
config   # 딕셔너리 형태로

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [11]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port'],
)

In [13]:
cur = conn.cursor()

In [14]:
sql = 'select * from team;'
cur.execute(sql)

10

In [15]:
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 28, '장시환', '투수', 154000000)
(2, 43, '정은원', '내야수', 120000000)
(3, 26, '허관회', '포수', 31000000)
(4, 16, '하주석', '내야수', 135000000)
(5, 8, '노시환', '내야수', 60000000)
(6, 25, '힐리', '내야수', 557500000)
(7, 33, '정진호', '외야수', 120000000)
(8, 30, '장운호', '외야수', 35000000)
(9, 4, '조한민', '내야수', 34000000)
(10, 19, '강상원', '외야수', 30000000)

- Resource 반환

In [16]:
cur.close()
con.close()