In [2]:
sql = '''
SELECT r.continent, COUNT(*), round(AVG(l.population), 2) FROM city AS l 
    JOIN country AS r ON l.CountryCode=r.Code 
    GROUP BY r.Continent 
    ORDER BY AVG(l.population) desc;
'''

1. 2009년에 데뷔한 걸그룹 정보를 조회

2. 2009년에 데뷔한 걸그룹의 히트송은?

3. 대륙별로 국가숫자, GNP의 합, 평균 국가별 GNP는?

In [ ]:
SELECT continent, COUNT(*), round(SUM(gnp)), round(AVG(gnp)) FROM country
	GROUP BY continent;

4. 아시아 대륙에서 인구가 가장 많은 도시 10개를 내림차순으로 보여줄 것

In [ ]:
SELECT r.Continent, r.`Name` AS Country, l.`Name` AS City, l.population FROM city AS l
	JOIN country AS r ON l.countrycode=r.Code
	WHERE r.Continent='Asia'
	ORDER BY l.Population DESC
	LIMIT 10;

5. 전 세계에서 인구가 가장 많은 10개 도시에서 사용하는 공식언어는?

In [ ]:
SELECT l.`Name`, l.Population, r.`Language` FROM city AS l
	JOIN countrylanguage AS r
	ON l.CountryCode=r.CountryCode
	WHERE r.IsOfficial='T'
	ORDER BY l.Population DESC
	LIMIT 10;

야구단 테이블 만들기

In [ ]:
CREATE TABLE team(
	`id` INT PRIMARY KEY AUTO_INCREMENT,
	`back_no` INT NOT NULL,
	`name` VARCHAR(10) NOT NULL,
	`position` VARCHAR(10) NOT NULL,
	`salary` INT UNSIGNED DEFAULT 0)

In [ ]:
INSERT INTO team (`back_no`, `name`, `position`, `salary`)
 	VALUES(28, '장시환', '투수', 154000000),
 			(43, '정은원', '내야수', 120000000),
 			(26, '허관회', '포수', 31000000),
 			(16, '하주석', '내야수', 135000000),
 			(8, '노시환', '내야수', 60000000),
 			(25, '힐리', '내야수', 557500000),
 			(33, '정진호', '외야수', 120000000),
 			(30, '장운호', '외야수', 35000000),
 			(4, '조한민', '내야수', 34000000),
 			(19, '강상원', '외야수', 30000000);