# Pandas

In [2]:
import pandas as pd

### 1. 시리즈(Series)
- 시리즈 Series 클래스는 넘파이에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 의미를 표시하는 인덱스(index)를 붙일 수 있다. 데이터 자체는 값(value)라고 한다.
- 시리즈 = 값(value) + 인덱스(index)

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],   # Series = class
              index=["서울", "부산", "인천", "대구"])
s   # Numpy array에 index가 붙음

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [4]:
pd.Series(range(10, 14))  # index를 안 주면 자동으로 0 부터 붙음

0    10
1    11
2    12
3    13
dtype: int64

In [6]:
# 시리즈의 인덱스는 index 속성으로 접근할 수 있음
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [8]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [9]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 시리즈 연산 : 넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있음. 다만 연산은 시리즈의 값에만 적용되며 인덱스 값은 변하지 않음

In [10]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [11]:
s[0], s['서울']   # 인덱스 라벨을 이용한 인덱싱 가능

(9904312, 9904312)

In [12]:
# 부분적인 값을 갖는 시리즈
s[[0, 2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [14]:
s[['부산', '대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

- Slicing

In [16]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [19]:
# 문자열 라벨을 이용한 슬라이싱을 하는 경우에는 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함
s['부산': '대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [22]:
s[s < 3000000]   # 인구가 300만보다 작은 도시

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [27]:
s.서울, s.대구  # 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있음

(9904312, 2466052)