# Pandas

In [1]:
import pandas as pd

### 1. 시리즈(Series)
- 시리즈 Series 클래스는 넘파이에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 의미를 표시하는 인덱스(index)를 붙일 수 있다. 데이터 자체는 값(value)라고 한다.
- 시리즈 = 값(value) + 인덱스(index)

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],   # Series = class
              index=["서울", "부산", "인천", "대구"])
s   # Numpy array에 index가 붙음

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
pd.Series(range(10, 14))  # index를 안 주면 자동으로 0 부터 붙음

0    10
1    11
2    12
3    13
dtype: int64

In [4]:
# 시리즈의 인덱스는 index 속성으로 접근할 수 있음
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [6]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 시리즈 연산 : 넘파이 배열처럼 시리즈도 벡터화 연산을 할 수 있음. 다만 연산은 시리즈의 값에만 적용되며 인덱스 값은 변하지 않음

In [7]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [8]:
s[0], s['서울']   # 인덱스 라벨을 이용한 인덱싱 가능

(9904312, 9904312)

In [9]:
# 부분적인 값을 갖는 시리즈
s[[0, 2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [10]:
s[['부산', '대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

- Slicing

In [11]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [12]:
# 문자열 라벨을 이용한 슬라이싱을 하는 경우에는 숫자 인덱싱과 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함
s['부산': '대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
s[s < 3000000]   # 인구가 300만보다 작은 도시

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [14]:
s.서울, s.대구  # 인덱스 라벨이 속성인것처럼 점(.)을 이용하여 해당 인덱스 값에 접근할 수도 있음

(9904312, 2466052)

- 시리즈와 딕셔너리 자료형

In [15]:
'서울' in s

True

In [16]:
for k, v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [17]:
fruits = {'apple':1000, 'banana':2000, 'cherry':3000}
f = pd.Series(fruits)   # 딕셔너리 객체에서 시리즈를 만들 수 있음
f

apple     1000
banana    2000
cherry    3000
dtype: int64

### 2. 데이터 프레임(DataFrame)

In [18]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

In [19]:
index = ['서울', '부산', '인천', '대구']
df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [20]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [21]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [22]:
# 열방향 인덱스와 행방향 인덱스에 이름을 붙이는 것도 가능
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [23]:
# 데이터프레임은 전치(transpose)를 포함하여 넘파이 2차원 배열이 가지는 대부분의 속성이나 메서드를 지원함
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

- 열 데이터

In [24]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [25]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [26]:
# 새로운 열을 생성할 경우에는 사용할 수 없음 (df.- : 되도록 조회할 경우에 사용)
df.temp = [1, 2, 3, 4]

<ipython-input-26-bfb8bb4089fd>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.temp = [1, 2, 3, 4]

In [27]:
df['temp'] = [1, 2, 3, 4]   # 새로운 열 추가
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [34]:
del df['temp']   # 열 삭제
df

KeyError: 'temp'

In [29]:
df.temp = [5, 6, 7, 8]   # 열 수정
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

- 열 인덱싱

In [30]:
# 하나의 열만 인덱싱하면 시리즈가 반환됨
df['2010']

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [31]:
df[['2010']]   # 리스트를 써서 인덱싱하면 데이터프레임이 반환

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

- 행 인덱싱

In [32]:
df[1]   # 데이터 프레임에선 오류

KeyError: 1

In [70]:
# 만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야함
df[:1]   # 행 전체 출력

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [73]:
df['서울' : '부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

- 개별 데이터 인덱싱

In [74]:
df['지역']['서울']

'수도권'

In [80]:
# 가장 보편적으로 사용됨
df['2015']['부산'] # = df['2015'][1]

3448737

In [81]:
df.지역[0]

'수도권'

In [84]:
df.지역.서울   # 열 인덱스.행 인덱스

'수도권'