### 판다스 고급 인덱싱

In [3]:
import numpy as np
import pandas as pd

- loc 인덱서

loc : 라벨값 기반의 2차원 인덱싱 / df.loc[행 인덱싱값], df.loc[행 인덱싱값, 열 인덱싱값]

iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc["a"]   # 행이 시리즈로 출력

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [6]:
df.loc["a":"b"]   # 데이터 프레임 형식으로 출력

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [7]:
df['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [8]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [9]:
# Boolean Index 사용 가능
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [11]:
# 개별 값
df.loc['c', 'D'], df['D']['c']

(21, 21)

In [14]:
# 슬라이싱
df.loc['b':,'C':]

    C   D
b  16  17
c  20  21

- iloc 인덱서

In [16]:
df.iloc[1:, 2:]   # 넘파이 인덱싱과 동일 / 순서를 나타내는 정수(integer) 인덱스만 받음음

    C   D
b  16  17
c  20  21

In [18]:
df.iloc[-1, -1]

21

In [17]:
df.iloc[0]   # 인덱스가 하나만 들어가면 행을 선택

A    10
B    11
C    12
D    13
Name: a, dtype: int32